# Ports
REST_PORT=8001
SWAGGER_PORT=9001
POSTGRES_PORT=7001

# Database
# DATABASE_SQL_URL=postgresql://postgres:postgres@localhost:7001/postgres?sslmode=disable
DATABASE_SQL_URL=postgresql://postgres:postgres@uni-products-svc-postgres:5432/postgres?sslmode=disable

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SQS_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/""/products-events