# Ports
REST_PORT=8001
SWAGGER_PORT=9001
POSTGRES_PORT=7001

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=7001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
SQS_QUEUE_URL=https://sqs.eu-north-1.amazonaws.com/""/products-events

OTEL_EXPORTER_OTLP_ENDPOINT=http://uni-otel-collector:4318
OTEL_SERVICE_NAME=uni-products-svc