# Ports
REST_PORT=8001
GRPC_PORT=9001
POSTGRES_PORT=7001
REDIS_PORT=6001
SWAGGER_PORT=5001
GRPC_DOC_PORT=5002

# Database
DATABASE_SQL_URL=postgresql://postgres:postgres@localhost:7001/postgres?sslmode=disable

# Redis
REDIS_ADDR=localhost:6001
REDIS_PASSWORD=

# JWT / Tokens
AUTH_TOKENS_ACCOUNT_ACCESS_SECRET_KEY=UnG06MAU2i1Mvqf8
AUTH_TOKENS_ACCOUNT_REFRESH_SECRET_KEY=6DSjhhT9KIezubpR
AUTH_TOKENS_ACCOUNT_REFRESH_HASH_KEY=Zlyh20N8uojZHFdO

# Google OAuth
AUTH_OAUTH_GOOGLE_CLIENT_ID=client_id
AUTH_OAUTH_GOOGLE_CLIENT_SECRET=megasupersecret
AUTH_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:8001/v1/sso/google/callback

# Kafka
KAFKA_BROKERS=localhost:9092
